@import "tailwindcss";

:root {
  --bg-main: #F9F7F1;
  --bg-card: #FFFFFF;
  --text-primary: #1A1A1A;

  /* DARKER secondary text */
  --text-secondary: #6A6A6A;

  --border-soft: #D0D0D0;
  --accent-primary: #B88E8D;
  --accent-hover: #D4AF37;
}

.dark {
  --bg-main: #121212;
  --bg-card: #1E1E1E;
  --text-primary: #F9F7F1;

  /* brighter grey for dark mode */
  --text-secondary: #BDBDBD;

  --border-soft: #2A2A2A;
  --accent-primary: #C9A3A2;
  --accent-hover: #D4AF37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-alabaster: #F9F7F1;
  --color-obsidian: #1A1A1A;
  --color-deepRoseGold: #B88E8D;
  --color-champagne: #D4AF37;
  --color-softSilk: #E5E5E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
